.nav-link{
    margin-right: 20px;
}
.nav-link:hover{
   border-bottom: 3px solid red;
}

.btnnav{
    margin-right: 90px;
    padding: 5px;
}
.card{
    width: 310px;
    margin-right: 1px;
    margin-left: 15px;
    
}

.rcol{
background-color:  rgb(43, 34, 97);
height: 40px;
}
.card-title{
    color:red
}
.card-title:hover{
    text-decoration: none;
}
.carousel-indicators li{
    width: 19px;
    height: 22px;
    border-radius: 50%;
    background-color: red;
}
.btnnnn{
    padding: 5px 30px;
    background-color: #394b5c;
    border-color: #394b5c;
}
.btnnnn:hover{
    background-color: #394b5c;
}
.col{
    color: red;
    font-size: 24px;
}
.item{
    background-color: white;
    margin-top: 60px;
}
.owl-nav{

    float: left;
    position: relative;
    top: -520px;
    font-size: 60px;
}

.ccsa{
    background-color: #394b53 !important;
    margin-right: 150px;
    border-color: #394b52;
}
.sw-photo{
    margin-left: 270px;
}
.photoend{
    width: 300px;
    
   
    display: block;
    
    margin-right: auto;
   
}
.mar{
    padding: 10px;
}
.form-control{
    background-color: rgba(207, 207, 207, 0.993);
    margin-right: 10px;
    padding: 20px;
    margin-top: 30px;
}
.de{
    background-color: white;
    border-radius: 10px;
}
.vicon{
    background-color: white;
    border-radius: 60px;
    width: 70rm;
    height: 50rm;
    margin-top: 30px;
}
 .fas{
font-size: 50px;
background-color: white;
border-radius: 160px;

}
.gop{
    background-color: white;
    height: 130px;
    margin-top: 30px;
    border-radius: 0px 60px 60px 0px;
}
.colo{
    background-color:  #394b5c;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
  }
  .soo{
      width: 55px;
      padding: 6px;
      margin-right: 10px;
  }
  .con{
      background-color: white;
  }
  .carousel-caption{

margin-bottom:120px;
position: absolute;


  }
  .pp{
    display: block;
    margin-left: auto;
  }
  .god{
float: left;     

  }
  .btnw{

    background-color: rgb(126, 123, 123);
    
    border-color:rgb(126, 123, 123);
  }
  .EN{

    border-right: 2px solid rgb(250, 245, 245);
    color: rgb(233, 231, 231);
    font-size: 22px;
    margin-right: 2px;
  }
  .EN:hover{
      text-decoration:none;
      color:whitesmoke;
  }
  .arbi{
    color: rgb(233, 33, 33);
    font-size: 22px;
  }
  .arbi:hover{
    text-decoration:none;
    color:whitesmoke;
  }
  .emil{
      color: white;
  }
  .phoo{
    color: white;
    
  }
  .icon{
    display: block;
    margin-left: auto;
    margin-right: auto;

  }
  .fab{
      color: white;
      margin-right: 20px;
      font-size: 30px;
  }
  .em{
      font-size: 20px;
  }
  .far{
      color: white;
  }